body {
  background-color: #f7f7f9;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  grid-column-start: 1;
  grid-auto-rows: max-content;
  row-gap: 50px;
  width: 82%;
}
.card {
  background-color: #ffffff;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding-bottom: 28px;
  padding-top: 15px;
  text-align: left;
  justify-content: center;
}
.snap {
  display: flex;
  justify-content: center;
}
.main {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  position: relative;
  right: -10px;
}
h2 {
  color: #172b4d;
  font-size: 32px;
  font-weight: bold;
  width: 295px;
  height: 36px;
}
.can {
  color: #344563;

  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.side {
  color: #7a869a;

  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.mid {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  gap: 12px;
}
.dot {
  height: 10px;
  width: 10px;
  padding-top: 3px;
}

.links,
ul,
.link {
  display: grid;

  grid-row: 1;
  gap: 10px;
  color: black;
  text-decoration: none;
}
.links,
li {
  padding: 10px;
}
.para {
  display: flex;
  flex-wrap: wrap;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.links {
  margin-bottom: 26px;
}
.link {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 5px;
  text-decoration: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
ul {
  padding-left: 0px;
  width: 50%;
  display: grid;
  grid-column: 1;
  list-style: none;
}

.pro {
  color: #396df2;
  border-radius: 8px;
  padding: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-top: 10px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
}
.pro:hover {
  background-color: #6070ff;
  color: #ebebff;
  box-shadow: 5px 5px #dde2eb;
}
.about {
  border-radius: 0px 86px;
  background-color: #ffffff;
  height: 1263px;
  width: 375px;
  margin-top: 130px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.about_h {
  color: #172b4d;
  font-weight: bolder;
  font-size: 40px;
}
.conn {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  text-decoration: none;
  gap: 35px;
}
.icons,
ul,
.icon {
  display: grid;

  grid-row: 1;

  color: black;
  text-decoration: none;
}

.lang {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  position: relative;
  left: 8px;
}
.ski {
  list-style-position: inside;
  width: 235%;
  flex: none;
  background-color: #f7f7f9;
  padding: 10px;
  margin: 5px;

  border-radius: 5px;
}
.sk {
  position: relative;
  left: 6px;
  top: -17px;
}
hr {
  width: 100%;
}
.toggle {
  left: 199px;
}
.one {
  list-style-image: url("./images/JS.png");
}
.two {
  list-style-image: url("./images/html.png");
}
.three {
  list-style-image: url("./images/css.png");
}
.contact {
  background-color: #6070ff;
  background-image: url(./images/contactbackground.png);
  background-size: 60% 700px;
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 60px 0px 0px 0px;
  height: 779px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.contact h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
.contact p {
  color: white;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  align-items: center;
  width: 90%;
  margin-left: 10px;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.contact input {
  line-height: 20px;
  font-size: 17px;
  padding-left: 15px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 8px;
  height: 48px;
}

.contact textarea {
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

