.container {
  height: 552px;
  width: 327px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 16px;
  display: flexbox;
}
.snap {
  padding: 5px;
}
.main {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
h1 {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700 , bold;
}
.can {
  color: #344563;
}
.side {
  color: #7a869a;
}
.mid {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  gap: 12px;
}
.dot {
  height: 10px;
  width: 10px;
  padding-top: 6px;
}

ul,
li {
  display: flex;
  gap: 10px;
  color: black;
}
.para {
  display: flex;
  flex-wrap: wrap;
  color: #344563;
}
.links {
  margin-bottom: 26px;
}
.link {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 5px;
  text-decoration: none;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
ul{
    padding-left: 0px;
}
.pro {
  color: #396df2;
  border-radius: 8px;
  padding: 5px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-top: 10px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
}
