.logo1 {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  padding:8px;
  text-decoration: none;
}
.heading {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
  padding-top: 60px;
}
.para_text {
  position: static;
  width: 327px;
  height: 115px;
  left: 24px;
  top: 276px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}
.connect {
  position: static;
  width: 117px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}
.menu {
  display: none;
}
.content {
  background-image: url("header-shapes mobile.png");
  background-repeat: no-repeat;
  height: 604.0000610351562px;
width: 375px;
left: 0px;
top: 92px;
border-radius: 0px;
padding: 114px, 24px, 114px, 24px;

}
.icons{
  display: flex;
  height: 20.000062942504883px;
width: 170.1666717529297px;
left: 24px;
top: 470px;
border-radius: 0px;
padding-left: 0px;
}
ul,li{
  list-style: none;
}
.menu {
  display: flex;
  font-size: 28px;
  color: #a164f1;
}
.social{
  padding: 5px;
}
.twitter{
  height: 19.962478637695312px;
  width: 19.985925674438477px;
  left: 24px;
  top: 470px;
  border-radius: 0px;
  
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.git{
  height: 20px;
width: 17.985200881958008px;
left: 143px;
top: 470px;
border-radius: 0px;
}
.linkdein{
  height: 20.000062942504883px;
width: 20.00014877319336px;
left: 63px;
top: 470px;
border-radius: 0px;
}
.m{
  height: 16px;
width: 20px;
left: 103px;
top: 472px;
border-radius: 0px;
padding-top: 3px;
}